.active {
    border-color: red;
    background-color: green;
}

.no-active {
    border-color: yellow;
    background-color: black;
    color: white;
}

div {
    display: flex;
    flex-direction: column;
    align-items: start; /* or center or any alignment you need */
  }

img {
    margin-bottom: 2%;
    display: block;
    margin-left: 600px;
    
}

button {
    margin-left: 720px;
}